<!--header-area start-->
<header id="sticker" class="header-area">
    <div class="container-fluid">
        <div class="row height-100 align-items-center">
            <div class="col-xl-2 col-lg-2 col-sm-4 col-4">
                <div class="logo">
                    <a href="index.html"><img src="../../static/userResources/images/logo.png" alt="logo"/></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-sm-2 col-2">
                <div class="mainmenu">
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a>
                                <ul class="submenu">
                                    <li><a href="index.html">Home Style 01</a></li>
                                    <li><a href="index-2.html">Home Style 02</a></li>
                                    <li><a href="index-3.html">Home Style 03</a></li>
                                    <li><a href="index-4.html">Home Style 04</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Courses</a>
                                <ul class="submenu">
                                    <li><a href="course-grid.html">Course Grid</a>
                                        <ul class="submenu sub-2">
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-list.html">Course List</a>
                                        <ul class="submenu sub-2">
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-grid-fullwidth.html">Course Grid Fullwidth</a>
                                        <ul class="submenu sub-2">
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-list-fullwidth.html">Course List Fullwidth</a></li>
                                    <li><a href="course-details.html">Course Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="mega-menu">
                                    <li class="megamenu-single">
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="addUser.html">Register</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="lesson.html">Lesson</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li class="megamenu-single">
                                        <ul>
                                            <li><a href="teacher-profiles.html">Teacher Profiles</a></li>
                                            <li><a href="category-columns-2.html">Category Columns 2</a></li>
                                            <li><a href="category-columns-3.html">Category Columns 3</a></li>
                                            <li><a href="membership.html">Membership</a></li>
                                            <li><a href="coming-soon.html">Comming Soon</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Events</a>
                                <ul class="submenu">
                                    <li><a href="event-columns-2.html">Event 2 Columns</a></li>
                                    <li><a href="event-columns-3.html">Event 3 Columns</a></li>
                                    <li><a href="events-list.html">Event List</a></li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Gallery</a>
                                <ul class="submenu">
                                    <li><a href="gallery.html">Grid</a></li>
                                    <li><a href="gallery-masonry.html">Masonry</a></li>
                                    <li><a href="gallery-cobble.html">Cobble</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Blog List Siderbar</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-details-sidebar.html">Blog Details Siderbar</a></li>
                                    <li><a href="blog-details.html">Blog Details Fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Shop</a>
                                <ul class="submenu">
                                    <li><a href="shop.html">Shop Grid</a></li>
                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="shopping-cart.html">Shoping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="/user/view_complain">Complain</a></li>
                                    <li><a href="/user/load_feedback">Feedback</a></li>
                                    <li><a href="/admin/logout_session">Logout</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-hidden mobile-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Style 01</a></li>
                                    <li><a href="index-2.html">Home Style 02</a></li>
                                    <li><a href="index-3.html">Home Style 03</a></li>
                                    <li><a href="index-4.html">Home Style 04</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Courses</a>
                                <ul>
                                    <li><a href="course-grid.html">Course Grid</a>
                                        <ul>
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-list.html">Course List</a>
                                        <ul>
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-grid-fullwidth.html">Course Grid Fullwidth</a>
                                        <ul>
                                            <li><a href="#">Course 01</a></li>
                                            <li><a href="#">Course 02</a></li>
                                            <li><a href="#">Course 03</a></li>
                                            <li><a href="#">Course 04</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course-list-fullwidth.html">Course List Fullwidth</a></li>
                                    <li><a href="course-details.html">Course Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="addUser.html">Register</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                    <li><a href="lesson.html">Lesson</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="teacher-profiles.html">Teacher Profiles</a></li>
                                    <li><a href="category-columns-2.html">Category Columns 2</a></li>
                                    <li><a href="category-columns-3.html">Category Columns 3</a></li>
                                    <li><a href="membership.html">Membership</a></li>
                                    <li><a href="coming-soon.html">Comming Soon</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Events</a>
                                <ul>
                                    <li><a href="event-columns-2.html">Event 2 Columns</a></li>
                                    <li><a href="event-columns-3.html">Event 3 Columns</a></li>
                                    <li><a href="events-list.html">Event List</a></li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Gallery</a>
                                <ul>
                                    <li><a href="gallery.html">Grid</a></li>
                                    <li><a href="gallery-masonry.html">Masonry</a></li>
                                    <li><a href="gallery-cobble.html">Cobble</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog List Siderbar</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-details-sidebar.html">Blog Details Siderbar</a></li>
                                    <li><a href="blog-details.html">Blog Details Fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Shop</a>
                                <ul>
                                    <li><a href="shop.html">Shop Grid</a></li>
                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="shopping-cart.html">Shoping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="/user/view_complain">Complain</a></li>
                                    <li><a href="/user/load_feedback">Feedback</a></li>
                                    <li><a href="/admin/logout_session">Logout</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-4 col-lg-2 col-sm-6 col-6">
                <div class="header-right text-right">
                    <a href="#" class="btn-common ds-md-none mr-90">Get Started</a>

                    <div class="register-login">
                        <a href="addUser.html">Register</a>
                        <span>/</span>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#login">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header-area end-->
