<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link d-flex">


            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashboard">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-format-list-bulleted-square menu-icon"></i>
                <span class="menu-title">Prediction </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/load_prediction">Add Prediction</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/view_prediction">View Prediction</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/view_complain">
                <i class="mdi mdi-emoticon-excited-outline menu-icon"></i>
                <span class="menu-title">Complain</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/view_feedback">
                <i class="mdi mdi-emoticon-excited-outline menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-emoticon-excited-outline menu-icon"></i>
                <span class="menu-title">LogOut</span>
            </a>

        </li>


    </ul>
</nav>
