<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>University Recommendation System</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/adminResources/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/adminResources/image/favicon.ico'/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        {% include 'admin/header.html' %}


        {% include 'admin/menu.html' %}

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="card">
                                <form method="post" action="/admin/insert_complain_reply">
                                    <input type="hidden" value="{{ complain_vo_list['complain_id'] }}"
                                           name="complainId">
                                    <input type="hidden" value="{{ complain_vo_list['complain_from_login_id'] }}"
                                           name="complainFromLoginId">
                                    <div class="card-header">
                                        <h4>Complain Reply</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Compain Subject</label>
                                            <input type="text" name="complainSubject" class="form-control" value="{{ complain_vo_list['complain_subject'] }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Complain Description</label>
                                            <input type="textarea" name="complainDescription" class="form-control" value="{{ complain_vo_list['complain_description'] }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Reply Description</label>
                                            <textarea class="form-control" name="complainReplyDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            {% include 'admin/footer.html' %}

        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="../../static/adminResources/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="../../static/adminResources/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../../static/adminResources/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            iziToast.error({
                title: 'Hello, world!',
                message: 'This awesome plugin is made by iziToast',
                position: 'topRight'
            });
        });
    </script>
</div>
</body>

</html>