<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HiliteUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>


    <script type="text/javascript">

        function loadDepartmentUniversityDetails() {
            var universityDetailsDegreeId = document.getElementById("universityDetailsDegreeId");
            var universityDetailsDepartmentId = document.getElementById("universityDetailsDepartmentId");
            universityDetailsDepartmentId.innerHTML = "";
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {

                    var json = JSON.parse(ajax.responseText);

                    for (var i = 0; i < json.length; i++) {

                        var option = document.createElement("option");
                        option.value = json[i].department_id;
                        option.text = json[i].department_name;
                        universityDetailsDepartmentId.options.add(option);
                    }
                }
            };
            ajax.open("get", "/admin/ajax_department_universitydetails?universityDetailsDegreeId=" + universityDetailsDegreeId.value, true);
            ajax.send();
        }

    </script>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit University Details</h4>
                                <form class="cmxform" method="post" action="/admin/update_universitydetails">
                                    <fieldset>

                                        <input type="hidden" name="universityDetailsId"
                                               value="{{ universitydetails_vo_list[0]['universitydetails_id'] }}"/>

                                        <div class="form-group">
                                            <label for="cname">University Name</label>
                                            <select id="universityDetailsUniversityInfoId" class="form-control"
                                                    name="universityDetailsUniversityInfoId"
                                                    required>
                                                <option selected disabled>Select University Name</option>
                                                {% for i in universityinfo_vo_list %}

                                                    <option value="{{ i['universityinfo_id'] }}">{{ i['universityinfo_name'] }}</option>

                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="cname">Degree Name</label>
                                            <select id="universityDetailsDegreeId" class="form-control"
                                                    name="universityDetailsDegreeId"
                                                    onchange="loadDepartmentUniversityDetails()"
                                                    required>
                                                <option selected disabled>Select Degree Name</option>
                                                {% for row in degree_vo_list %}

                                                    <option value="{{ row['degree_id'] }}">{{ row['degree_name'] }}</option>

                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cname">Department Name</label>
                                            <select id="universityDetailsDepartmentId" class="form-control"
                                                    name="universityDetailsDepartmentId"
                                                    required>
                                                <option selected disabled>Select Department Name</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cname">Last Year CutOff</label>
                                            <input id="cname" class="form-control" name="universityDetailsCutOff"
                                                   minlength="2" type="text"
                                                   value="{{ universitydetails_vo_list[0]['universitydetails_cutoff'] }}"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="cname">IELTS</label>
                                            <input id="cname" class="form-control" name="universityDetailsIelts"
                                                   minlength="2" type="text"
                                                   value="{{ universitydetails_vo_list[0]['universitydetails_ielts_score'] }}"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <label for="cname">GRE</label>
                                            <input id="cname" class="form-control" name="universityDetailsGre"
                                                   minlength="2" type="text"
                                                   value="{{ universitydetails_vo_list[0]['universitydetails_gre_score'] }}"
                                                   required>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>