<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link d-flex">


            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashboard">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_user">
                <i class="mdi mdi-view-array menu-icon"></i>
                <span class="menu-title">Manage User</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-demo" aria-expanded="false" aria-controls="ui-demo">
                <i class="mdi mdi-view-array menu-icon"></i>
                <span class="menu-title">Manage Degree</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-demo">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_degree">Add Degree</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_degree">View Degree</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-palette menu-icon"></i>
                <span class="menu-title">Manage Department</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_department">Add Department</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_department">View Department</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Manage University Info <span
                        class="badge badge-pill badge-info">2</span></span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_universityinfo">Add University Info</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_universityinfo">View University Info</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-pencil menu-icon"></i>
                <span class="menu-title">Manage University Details</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_universitydetails">Add University
                        Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_universitydetails">View University
                        Details</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi-signal menu-icon"></i>
                <span class="menu-title">Manage Dataset</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_dataset">Add Dataset</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_dataset">View Dataset</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_complain">
                <i class="mdi mdi-format-list-bulleted-square menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_feedback">
                <i class="mdi mdi-emoticon-excited-outline menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-emoticon-excited-outline menu-icon"></i>
                <span class="menu-title">LogOut</span>
            </a>

        </li>


    </ul>
</nav>
