<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html"> <img alt="image" src="../../static/adminResources/image/logo.png"
                                       class="header-logo"/> <span
                    class="logo-name">Otika</span>
            </a>
        </div>
        <ul class="sidebar-menu">

            <li class="dropdown active">
                <a href="/admin/load_dashboard" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span></a>
            </li>


            <li><a class="nav-link" href="/admin/view_user">

                <i class="fa fa-users" aria-hidden="true"></i>

                <span>Manage Users</span></a></li>

            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-flag" aria-hidden="true"></i>

                    <span>Manage Country</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_country">Add Country</a></li>
                    <li><a class="nav-link" href="/admin/view_country">View Country</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-graduation-cap"
                                                                         aria-hidden="true"></i>
                    <span>Manage Degree</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_degree">Add Degree</a></li>
                    <li><a class="nav-link" href="/admin/view_degree">View Degree</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-building" aria-hidden="true"></i>
                    </i><span>Manage Department</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_department">Add Department</a></li>
                    <li><a class="nav-link" href="/admin/view_department">View Department</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fa fa-file" aria-hidden="true"></i>
                    </i><span>Manage Dataset</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_dataset">Add Dataset</a></li>
                    <li><a class="nav-link" href="/admin/view_dataset">View Dataset</a></li>
                </ul>
            </li>

            <li><a class="nav-link" href="/admin/view_details">
                <i class="fa fa-info" aria-hidden="true"></i>
                <span>Manage Details</span></a></li>


            <li><a class="nav-link" href="/admin/view_prediction">
                <i class="fa fa-podcast" aria-hidden="true"></i>
                <span>Manage Prediction</span></a></li>


            <li><a class="nav-link" href="/admin/view_complain"><i class="fa fa-comments" aria-hidden="true"></i>
                <span>Manage Complaint</span></a></li>


            <li><a class="nav-link" href="/admin/view_feedback"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span>Manage Feedback</span></a></li>


            <li><a href="/admin/logout_session" class="dropdown-item has-icon"> <i
                    class="fas fa-sign-out-alt"></i>
                Logout
            </a></li>

            </li>
        </ul>
    </aside>
</div>