<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>University Recommendation System</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/adminResources/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/datatables.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/adminResources/image/favicon.ico'/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        {% include 'admin/header.html' %}


        {% include 'admin/menu.html' %}

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>View Prediction</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="tableExport"
                                               style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Prediction IELTS Score</th>
                                                <th>Prediction TOFEL Score</th>
                                                <th>Prediction GRE Score</th>
                                                <th>Prediction GPA Score</th>
                                                <th>Prediction Passoutyear</th>
                                                <th>Prediction Internship Months</th>
                                                <th>Prediction Work Experience</th>
                                                <th>Prediction Research Paper</th>
                                                <th>Prediction Conference Attend</th>
                                                <th>Recommended University</th>
                                                <th>Country</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in prediction_vo_list %}
                                                <tr>
                                                    <td>{{ row[2]['login_username'] }}</td>
                                                    <td>{{ row[0]['prediction_ieltsscore'] }}</td>
                                                    <td>{{ row[0]['prediction_tofelscore'] }}</td>
                                                    <td>{{ row[0]['prediction_grescore'] }}</td>
                                                    <td>{{ row[0]['prediction_gpascore'] }}</td>
                                                    <td>{{ row[0]['prediction_passoutyear'] }}</td>
                                                    <td>{{ row[0]['prediction_internshipmonths'] }}</td>
                                                    <td>{{ row[0]['prediction_workexperience'] }}</td>
                                                    <td>{{ row[0]['prediction_researchpaper'] }}</td>
                                                    <td>{{ row[0]['prediction_conferenceattend'] }}</td>
                                                    <td>{{ row[0]['prediction_universityname'] }}</td>
                                                    <td>{{ row[1]['country_name'] }}</td>
                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {% include 'admin/footer.html' %}

        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="../../static/adminResources/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <script src="../../static/adminResources/js/datatables.min.js"></script>
    <script src="../../static/adminResources/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
    <script src="../../static/adminResources/js/buttons.flash.min.js"></script>
    <script src="../../static/adminResources/js/jszip.min.js"></script>
    <script src="../../static/adminResources/js/pdfmake.min.js"></script>
    <script src="../../static/adminResources/js/vfs_fonts.js"></script>
    <script src="../../static/adminResources/js/buttons.print.min.js"></script>
    <script src="../../static/adminResources/js/datatables.js"></script>
    <!-- Template JS File -->
    <script src="../../static/adminResources/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../../static/adminResources/js/custom.js"></script>
</div>
</body>

</html>