<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    {% include 'admin/header.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'admin/menu.html' %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View Complain</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Subject</th>
                                            <th>Description</th>
                                            <th>Date & Time</th>
                                            <th>Action</th>
                                            <th>Status</th>
                                            <th>Reply</th>
                                            <th>Reply Date & Time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in complain_vo_list %}
                                            <tr>
                                                <td>{{ row[1]['login_username'] }}</td>
                                                <td>{{ row[0]['complain_subject'] }}</td>
                                                <td>
                                                    {{ row[0]['complain_description'] }}
                                                </td>
                                                <td>{{ row[0]['complain_datetime'] }}</td>
                                                <td>
                                                    <a href="/admin/delete_complain?complainId={{ row[0]['complain_id'] }}"><i
                                                            class="mdi mdi-delete " ;
                                                            style="font-size: 20px ; margin-left: 15px; color: #ff4b2d"></i></a>
                                                </td>
                                                <td>
                                                    {% if row[0]['complain_reply_description'] == None %}
                                                        <button class="btn btn-outline-primary btn-fw">
                                                            <a href="/admin/load_complain_reply?complainId={{ row[0]['complain_id'] }}">Reply
                                                            </a></button>
                                                    {% else %}
                                                        <button type="button"
                                                                class="btn btn-primary btn-rounded btn-fw">Replied
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td>{{ row[0]['complain_reply_description'] }}</td>
                                                <td>{{ row[0]['complain_reply_datetime'] }}</td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'admin/footer.html' %}
        </div>
    </div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<script src="../../static/adminResources/js/jquery.dataTables.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.js"></script>
<script src="../../static/adminResources/js/data-table.js"></script>
</body>
</html>
