<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Academ - About Us</title>
    <meta name="description" content="Learn more about Academ and our mission to provide quality education.">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/userResources/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/userResources/css/style.css">
    <link rel="stylesheet" href="../../static/userResources/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" href="icon.png" type="image/png">
</head>
<body>

{% include 'user/header.html' %}

<!-- Page Banner -->
<section class="page-banner height-200 bg-1">
    <div class="d-table">
        <div class="page-title vertical-middle text-center">
            <h2>About Us</h2>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<nav class="breadcrumb-area mt-25">
    <div class="container">
        <ul class="list-none">
            <li><a href="#">Home</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li>About Us</li>
        </ul>
    </div>
</nav>

<!-- About Section -->
<section class="about-area mt-50">
    <div class="container">
        <h2 class="section-title">Our Story</h2>
        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        
        <!-- Video Box -->
        <div class="video-box overlay mt-20">
            <img src="../../static/userResources/images/bg/4.jpg" alt="">
            <a class="venobox play-btn" data-gall="gall-video" data-autoplay="true" data-vbtype="video" href="https://youtu.be/6rPPUmStKQ4"><i class="ti-control-play"></i></a>
        </div>

        <!-- Team Section -->
        <h3>Meet Our Team</h3>
        <div class="row team-carousel mt-60">
            <!-- Team Member 1 -->
            <div class="col-lg-4 team-single">
                <img src="../../static/userResources/images/team/1.jpg" alt="">
                <h4>Mr. John Wick</h4>
                <small>Materials Expert</small>
            </div>
            <!-- Team Member 2 -->
            <div class="col-lg-4 team-single">
                <img src="../../static/userResources/images/team/2.jpg" alt="">
                <h4>Mr. Tom Redder</h4>
                <small>Financial Advisor</small>
            </div>
            <!-- Team Member 3 -->
            <div class="col-lg-4 team-single">
                <img src="../../static/userResources/images/team/3.jpg" alt="">
                <h4>Ms. Lara Croft</h4>
                <small>Organic Chemistry Specialist</small>
            </div>
        </div>

        <!-- Testimonials Section -->
        <h3>What Students Say</h3>
        <div class="testimonial-carousel mt-60">
            <!-- Testimonial 1 -->
            <blockquote>"In today's world, it's important to harness technology to help us advance and connect."</blockquote>
            <footer>- Russell Stephens, University of UK</footer>

            <!-- Testimonial 2 -->
            <blockquote>"Academ provides invaluable resources that enhance learning experiences."</blockquote>
            <footer>- Ms. Lara Croft, University of US</footer>
        </div>

    </div>
</section>

<!-- Footer Section -->
<footer class="footer-area mt-60">
    <div class="container">
        <!-- Company Info -->
        <div class="company-info">
            <img src="../../static/userResources/images/logo.png" alt="">
            <ul class="list-none">
                <li>Email: Educate.support@info.com</li>
                <li>Call: (+88) 111 555 666</li>
                <li>Address: 40 Baria Street 133/2 New York City, US</li>
            </ul>
        </div>

        <!-- Quick Links -->
        <div class="footer-widget mt-30">
            <h3>Quick Links</h3>
            <ul class="list-none">
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Support</a></li>
                <!-- More Links... -->
            </ul>
        </div>

        <!-- Recent Posts -->
        <div class="footer-widget mt-30">
            <h3>Recent Posts</h3>
            <!-- Recent Post Example -->
            <h4><a href="#">How to get better at learning</a></h4><span>| December 05, 2019 | By Ms. Lucius</span>
        </div>

    </div>

    <!-- Copyright Notice -->
    <div class="footer-bottom text-center mt-30">
        Copyright &copy; 2024 Academ - All Rights Reserved
    </div>

</footer>

<!-- Scripts -->
<script src="../../static/userResources/js/vendor/jquery.min.js"></script>
<script src="../../static/userResources/js/bootstrap.bundle.min.js"></script>
<script src="../../static/userResources/js/main.js"></script>

<!-- Modal for Sign Up -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Modal Content Here... -->
</div>

</body>
</html>
