<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HiliteUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'user/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'user/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View Prediction</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>GRE Score</th>
                                            <th>IELTS Score</th>
                                            <th>GPA Score</th>
                                            <th>TOFEL Score</th>
                                            <th>Passout Year</th>
                                            <th>Work Experience</th>
                                            <th>Internship Month</th>
                                            <th>Research Paper</th>
                                            <th>Conference Attend</th>
                                            <th>Country</th>
                                            <th>Prediction University</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in prediction_vo_list %}
                                            <tr>
                                                <td>{{ row['prediction_gre_score'] }}</td>
                                                <td>{{ row['prediction_ielts_score'] }}</td>
                                                <td>{{ row['prediction_gpa_score'] }}</td>
                                                <td>{{ row['prediction_toefl_score'] }}</td>
                                                <td>{{ row['prediction_passout_year'] }}</td>
                                                <td>{{ row['prediction_work_experience'] }}</td>
                                                <td>{{ row['prediction_internship_month'] }}</td>
                                                <td>{{ row['prediction_research_paper'] }}</td>
                                                <td>{{ row['prediction_conference_attend'] }}</td>
                                                <td>{{ row['prediction_country'] }}</td>
                                                <td>{{ row['prediction_university'] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'user/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResources/js/jquery.dataTables.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/data-table.js"></script>
<!-- End custom js for this page-->
</body>

</html>
